<!-- /views/questions.ejs -->
<%- include('layout') %>
<h1>Practice Questions</h1>

<div id="question-container">
    <p id="question-content"><%= currentQuestion.content %></p>
    <form action="/questions/track-response" method="POST">
        <input type="hidden" name="questionId" value="<%= currentQuestion._id %>">
        <label for="userAnswer">Your Answer:</label>
        <input type="text" id="userAnswer" name="userAnswer">
        <button type="submit">Submit Answer</button>
    </form>
</div>
